<ActionBar backgroundColor="#F01E2A" title="Registro">
    <NavigationButton text="Back" ios.position="left"></NavigationButton>
</ActionBar>
<GridLayout backgroundColor="#EE878D">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" backgroundColor="#EDA0A4">
                <StackLayout class="input-field">
                    <Label text="First Name" class="text"></Label>
                    <TextField class="input" [(ngModel)]="input.firstname"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Last Name" class="text"></Label>
                    <TextField class="input" [(ngModel)]="input.lastname"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Email" class="text"></Label>
                    <TextField class="input" [(ngModel)]="input.email"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Password" class="text"></Label>
                    <TextField secure="true" class="input" [(ngModel)]="input.password"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <Button class="btn btn-primary w-full" text="Register" (tap)="register()"></Button>
                <Label (tap)="goBack()" text="Already a member? Login here." class="text"></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>